// Import all of Bootstrap's CSS
@import "bootstrap/scss/bootstrap";

.main-container {
  height: 100vh;
}

.main-row {
  height: 100%;
}

#left-sidebar, #right-sidebar {
  background: #9c939d;
}

//TITLE
#title {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1em;

}
#title h1 {
  text-align: center;
  font-size: 2rem;
}
#middle {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: #555555;
}

// VIEWER
#viewer {
  display: flex;
  // background: #2c2c2c;
  margin: 10px 0;
  height: 100%;
  justify-content: center;
  align-items: center;
}

#input_video { display: none; }

#view_video {
  display: flex;
}

#glspace {
  // margin-bottom: 10px;
}

#controls {
  background: #9d9993;
  padding: 20px;
  margin-bottom: 20px;
}

#recording-status {
  display: none;
  // margin-top: 0.5rem;
  text-align: right;
  color: rgb(199, 32, 32);
}

#timeline {
  width: 100%;
  margin: auto;
}

// TOOLS section
#vid_controls {
  display:block;
}

#pose_controls {
  display: none;
}

// // VIEWER
// #viewer {
//   // padding: 10px;
// }

#recording_controls {
  display: flex;
  align-items: center;
  justify-content: center;
}

// FILES

.video-button-group {
  margin-top: 0.5rem;
  width: 100%
}

// generic class to hide elements not in use! 
.hidden {
  display:none !important;
}

// MODALS

.modal-btn-group {
  // margin-top: 0.25rem;
  margin-bottom: 0.25rem;
}
